$primary-color: #222;
$primary-text-color: #adcfff;
$secondary-text-color: #93b0dc;

*, *:after, *:before {
  position: relative;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden;
}

.mainframe {
  width: 100vw;
  height: 100vh;
}

.sidebar {
  background-color: $primary-color;
  height: 100vh;
  border-right: solid 0.1rem $secondary-text-color;
  overflow-x: hidden;
  overflow-y: auto;

  h1 {
    color: $primary-text-color;
    margin: 1.5rem 0;
    padding: 0;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    .dark {
      color: $secondary-text-color;
    }
  }

  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    background-color: $primary-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary-text-color;
  }
}

.sidebar-close, .sidebar-open {
  color: $secondary-text-color;
  font-size: 2.4rem;
  cursor: pointer;
  display: none;
}

.sidebar-close:hover, .sidebar-open:hover {
  color: $primary-text-color;
}

.sidebar-open {
  position: fixed;
  top: 5rem;
  left: 1.5rem;
  z-index: 1;
}

#filter-location-input {
  display: block;
  width: 100%;
  margin: 1rem 0 1.5rem 0;
  padding: 1rem;
  background: none;
  border: solid 0.2rem darken($secondary-text-color, 30%);
  color: $primary-text-color;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  outline: none;

  &::-webkit-input-placeholder {
    color: $secondary-text-color !important;
  }

  &:-moz-placeholder {
    color: $secondary-text-color !important;
  }

  &::-moz-placeholder {
    color: $secondary-text-color !important;
  }

  &:-ms-input-placeholder {
    color: $secondary-text-color !important;
  }
}

.marker-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: $primary-text-color;
}

.marker-list-item {
  margin: 0.5rem 0 0 0;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.marker-list-item:hover {
  background-color: darken($primary-color, 10%);
  color: lighten($primary-text-color, 50%);
}

#map {
  height: 100vh;
  z-index: 0;
}

.marker-info-window {
  font-size: 1.3rem;
  padding: 0.5rem 0;

  .text-container {
    max-width: 150px;
  }

  .title {
    font-size: 2rem;
  }

  .photo {
    display: block;
    margin-right: 1rem;
    border: solid 0.2rem darken($primary-color, 10%);
    -webkit-box-shadow: 0.2rem 0.2rem 0 rgba($primary-color, 0.4);
    -moz-box-shadow: 0.2rem 0.2rem 0 rgba($primary-color, 0.4);
    box-shadow: 0.2rem 0.2rem 0 rgba($primary-color, 0.4);
  }

  .category {
    display: inline-block;
    color: #777777;
    padding-bottom: 0.2rem;
  }

  .loading {
    font-size: 2.4rem;
    -webkit-animation: loading 1s infinite linear;
    -o-animation: loading 1s infinite linear;
    animation: loading 1s infinite linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.padding-0 {
  padding: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

@media all and (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 2;
    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -ms-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;

    &.opened {
      left: 0;
    }

    &.closed {
      left: -250px;
    }
  }

  .sidebar-close, .sidebar-open {
    display: inline-block;
  }
}