*, *:after, *:before {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden; }

.mainframe {
  width: 100vw;
  height: 100vh; }

.sidebar {
  background-color: #222;
  height: 100vh;
  border-right: solid 0.1rem #93b0dc;
  overflow-x: hidden;
  overflow-y: auto; }
  .sidebar h1 {
    color: #adcfff;
    margin: 1.5rem 0;
    padding: 0;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem; }
    .sidebar h1 .dark {
      color: #93b0dc; }
  .sidebar::-webkit-scrollbar {
    width: 0.3rem; }
  .sidebar::-webkit-scrollbar-track {
    background-color: #222; }
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #93b0dc; }

.sidebar-close, .sidebar-open {
  color: #93b0dc;
  font-size: 2.4rem;
  cursor: pointer;
  display: none; }

.sidebar-close:hover, .sidebar-open:hover {
  color: #adcfff; }

.sidebar-open {
  position: fixed;
  top: 5rem;
  left: 1.5rem;
  z-index: 1; }

#filter-location-input {
  display: block;
  width: 100%;
  margin: 1rem 0 1.5rem 0;
  padding: 1rem;
  background: none;
  border: solid 0.2rem #3460a2;
  color: #adcfff;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  outline: none; }
  #filter-location-input::-webkit-input-placeholder {
    color: #93b0dc !important; }
  #filter-location-input:-moz-placeholder {
    color: #93b0dc !important; }
  #filter-location-input::-moz-placeholder {
    color: #93b0dc !important; }
  #filter-location-input:-ms-input-placeholder {
    color: #93b0dc !important; }

.marker-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #adcfff; }

.marker-list-item {
  margin: 0.5rem 0 0 0;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.marker-list-item:hover {
  background-color: #090909;
  color: white; }

#map {
  height: 100vh;
  z-index: 0; }

.marker-info-window {
  font-size: 1.3rem;
  padding: 0.5rem 0; }
  .marker-info-window .text-container {
    max-width: 150px; }
  .marker-info-window .title {
    font-size: 2rem; }
  .marker-info-window .photo {
    display: block;
    margin-right: 1rem;
    border: solid 0.2rem #090909;
    -webkit-box-shadow: 0.2rem 0.2rem 0 rgba(34, 34, 34, 0.4);
    box-shadow: 0.2rem 0.2rem 0 rgba(34, 34, 34, 0.4); }
  .marker-info-window .category {
    display: inline-block;
    color: #777777;
    padding-bottom: 0.2rem; }
  .marker-info-window .loading {
    font-size: 2.4rem;
    -webkit-animation: loading 1s infinite linear;
    animation: loading 1s infinite linear;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.padding-0 {
  padding: 0; }

.float-left {
  float: left; }

.float-right {
  float: right; }

@media all and (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 2;
    -webkit-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out; }
    .sidebar.opened {
      left: 0; }
    .sidebar.closed {
      left: -250px; }
  .sidebar-close, .sidebar-open {
    display: inline-block; } }
